* {
    margin: 0;
}

body {
    background-color: lightgray; /*così vedi i box*/
}

#conteiner {
    height: 100vh;
    max-width: 1000px;
    background-color: white;
    margin: auto;
}

#page {
    width: 680px;
    margin: auto;
}

#logo-background {
    height: 70px;
    background-color: rgb(78 160 255);
    background-image: url(img/pattern.png);
    background-size: 210px; 
}

#logo {
    height: 30px;
    margin-top: 20px; /*ho usato il margin piuttosto che position relative/absolute non sapendo se posso già andare a toccare quelle regole di css*/
}

#article-title {
    margin-top: 20px;
}

#reference {
    font-size: 12px;
    color: gray;
}

#reference > a {
    color: rgb(60 195 239);
    text-decoration: none;
}

/*main*/

.photo {
    margin-top: 20px;
}

.tim-image {
    height: 230px;
}

#credit {
    font-size: 10px;
}